
.data-table {
    padding: 5px 2px;
    border-radius: 2px; 
}

th > i.material-icons {
    padding-left: 2px;
}

table.material.bordered > thead > tr {
    border-top: 1px solid #d0d0d0;
}

[type="checkbox"].filled-in + label {
    padding-right: 3px;
}

[type="checkbox"].filled-in:checked + label.before,
[type="checkbox"].filled-in:not(:checked) + label.before {
    background-color: #4caf50;
    color: white;
    border-radius: 2px;
}

[type="checkbox"].filled-in:checked + label.before:after,
[type="checkbox"].filled-in:not(:checked) + label.before:after {
    background-color: white;
    border: none;
}

[type="checkbox"].filled-in:checked + label.before:before {
    border-right: 2px solid #4caf50;
    border-bottom: 2px solid #4caf50;
}

[type="checkbox"].filled-in:checked + label.between,
[type="checkbox"].filled-in:not(:checked) + label.between {
    background-color: #2196f3;
    color: white;
    border-radius: 2px;
}

[type="checkbox"].filled-in:checked + label.between:after,
[type="checkbox"].filled-in:not(:checked) + label.between:after {
    background-color: white;
    border: none;
}

[type="checkbox"].filled-in:checked + label.between:before {
    border-right: 2px solid #2196f3;
    border-bottom: 2px solid #2196f3;
}

[type="checkbox"].filled-in:checked + label.after,
[type="checkbox"].filled-in:not(:checked) + label.after {
    background-color: #f44336;
    color: white;
    border-radius: 2px;
}

[type="checkbox"].filled-in:checked + label.after:after,
[type="checkbox"].filled-in:not(:checked) + label.after:after {
    background-color: white;
    border: none;
}

[type="checkbox"].filled-in:checked + label.after:before {
    border-right: 2px solid #f44336;
    border-bottom: 2px solid #f44336;
}